* {
    box-sizing: border-box;
}

html {
    background-color: aliceblue;
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: inherit;
}

.bttn {
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2;
    background: transparent;
    color: #5f27cd;
    border: 1px solid #5f27cd;   
}

.bttn:hover{
    background-color: white;
    cursor: pointer;
}
.bttn:focus {outline: 0;}

.title{
    font-family: 'Fredoka One', cursive;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 150px;
  }